VITE_API_BASE_URL=https://civic-platform-backend-181b.onrender.com

VITE_FIREBASE_API_KEY=AIzaSyAsUatTktr3dMjGuigJQduHBm0Q4EuJBPY
VITE_FIREBASE_AUTH_DOMAIN=civic-platform-fdfce.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=civic-platform-fdfce
VITE_FIREBASE_STORAGE_BUCKET=civic-platform-fdfce.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1002433237
VITE_FIREBASE_APP_ID=1:1002433237:web:740cac0455930a7b1e105c
VITE_FIREBASE_MEASUREMENT_ID=G-8WKHMHB32N